.App {
  text-align: center;
}

 .navlist {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%
}


.navlist li {
  margin: 15px;
}

.project-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.btn {
  background-color:  #157274;
  margin: 5px;  
}

form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
}

.contact-button {
  width: 110px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;

}

.top-text {
  margin-top: 50px;
  font-size: 25px
}

.skills {
  list-style-type: none;
}

.link-img{
  height: 35px;
  width: 35px;
}

.link-list{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width:400px;

  margin-left: auto;
  margin-right: auto;

}

.footer-size{
  height: 110px;
  width: 100%;
  background-color: #157274;

  
}
.foot-link{
  margin-top: 35px
}


.git-img{
  height: 50px;
  width: 50px;
}

.face-img{
  height: 85px;
  width: 85px;
  margin-top: -19px;
}

.link-img{
  height: 50px;
  width: 50px;
}

.header-size{
  background-color: #157274;
}

.powerpuff{
  height: 200px;
  width: 175px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.resume{
  margin-top: -45px;
}

.my-name{
  font-size: 42px;
  padding: 50px 20px 5px 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-weight: bold;
  color: white;
}

.nav-link{
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.portfolio-text {
  margin-bottom: 100px;
}